html,
body,
#root
{
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background: ivory;
}

/* try to make it so i can scroll unless i'm on the scene page */

html body #root .overflowAuto{
    overflow: auto;
}
html body #root .removeOverflow{
    position: fixed;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
}

/* used for the floating html elements in the scene */
.label > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000088;
    color: white;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}


/* Where i'll be working on the profile page CSS */

.equal-card-height{
    display: flex;
    align-items: stretch;
    flex: 1;
}

